*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
    background-color: aquamarine;
    border: 5px solid #00f;
    box-shadow: 0px 10px 10px 0px #000;
    position: sticky;
    top: 0px;
}

.flex-container{
    display: flex;}

.flex-item{
    background-color: #42f;
    width: 350px;
    height: 128px;
    text-align: center;
    margin: 10px;
}

.orange{
    background-color: #f60;
}
.green{
    background-color: #0f0;
}

.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}