*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    background-color: aqua;
    border: 10px solid #00F;
    box-shadow: 0px 10px 10px 0px #000;
    position: sticky;
    top: 5px;
}

.flex-container{
    display: flex;
    height: 20vh;
    border: 5px solid #000;
}

.flex-item{
    width: 300px;
    height: 100px;
    margin: 10px;
    background-color: #FF0;
    text-align: center;
}

.fg-1 div{
    flex-grow: 1;   
}

.fg-2 > .div1{
    flex-grow: 2;
}
.fg-2 > .div2{
    flex-grow: 1;
}

.fg-3 > .div1{
    flex-grow: 1;
}