.div-em {
    background-color: red;
    font-size: 20px;
}

.div.em__p {
    font-size: 10em;
}

.div-vh-vw {
    background-color: deepskyblue;
    width: 50vw;
    height: 10vh;
}

.div-vh-vw__p {
    font-size: 2em;
}