*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
    background-color: aqua;
    border: 10px solid #00F;
    border-radius: 20%;
    box-shadow: 0px 10px 10px 0px #000;
    position: sticky;
    top: 0px
}

img{
    width: 400px;
}