*{
    font-size: 20px;
    font-family: 2em;
}
body{
    background: radial-gradient(circle, #fff, #999);
}
h1{
    font-size: 2em;
    text-align: center;
    color: #fff;
    background: #09f;
    border: 10px solid #06f;
    box-shadow: 0px 0px 10px #000;
    position: sticky;
    top: 10px
}