*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: radial-gradient(circle, #fff, #999)
}
h1{
    font-size: 2em;
    text-align: center;
    color: #fff;
    background: #09f;
    border: 10px solid #06f;
    position: sticky;
    top: 5px;
}
input{
    display: block;
}
.img{
    margin: 15px 0px;
}