*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    background-color: aqua;
    border: 10px solid #00F;
    box-shadow: 0px 10px 10px 0px #000;
    position: sticky;
    top: 5px;
}

.flex-container{
    display: flex;
    border: 10px solid #000;
    height: 40vh;
}
.flex-item{
    flex-basis: 300px;
    height: 100px;
    background-color: #FF0;
    border: 5px solid #000;
    margin: 10px;
}

.orange{
    background-color: #F70;
}
.green{
    background-color: #0F0;
}

.div2 > .orange{
    order: 4;
}
.div3 > .orange{
    order: 4;
}
.div3 > .yellow{
    order: 3;
}